body {
    margin: 0;
}

/* Carousel LOGIC!  */

.carusel-container {
    width: 50%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    position: absolute;
    opacity: 0;
    inset: 0;
    transition: opacity 0.6s ease-in-out;
}

.carousel-slide.active {
    opacity: 1;
    z-index: 1;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: rgba(0, 0, 0, 0.324);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
}

.next { right: 10px; }
.prev { left: 10px; }

.carousel-nav {
    position: absolute;
    bottom: 20px;
    left: 50px;
    transform: translateX(-50%);
    display: flex;
    display: flex;
    gap: 10px;
    z-index: 11;
}

.carousel-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(255,255,255,0.5);
    border: none;
    cursor: pointer;
    z-index: 11;
}

.carousel-indicator.current-slide {
    background: white;
}

/* Login LOGIC!  */