body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Carousel LOGIC!  */

.carusel-container {
    width: 50%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    position: absolute;
    opacity: 0;
    inset: 0;
    transition: opacity 0.6s ease-in-out;
}

.carousel-slide.active {
    opacity: 1;
    z-index: 1;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: rgba(0, 0, 0, 0.324);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
}

.next { right: 10px; }
.prev { left: 10px; }

.carousel-nav {
    position: absolute;
    bottom: 20px;
    left: 50px;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 11;
}

.carousel-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(255,255,255,0.5);
    border: none;
    cursor: pointer;
    z-index: 11;
}

.carousel-indicator.current-slide {
    background: white;
}

/* Login LOGIC!  */

.login-section  {
    /* border: 1px solid black; */
    width: 50%;
    height: 100vh;
    position: absolute;
    left: 736px;
    top: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-section #logo {
    width: 180px;
    height: 140px;
    margin: 70px 0 30px 0;
}

.changeBtn {
    padding: 10px 60px;
    margin: 10px 10px 35px 10px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

.input-area {
    display: flex;
    flex-direction: column;
}

input {
    width: 400px;
    height: 50px;
    margin: 7px 0;
}

::-webkit-input-placeholder { /* Chrome, Opera, Safari */
  align-items: start;
  padding-left: 10px;
}

#login-btn {
    padding: 10px 0;
    margin: 15px 0 0 0;
}

.page_move_btn{
    color: rgba(0, 0, 255, 0.599);
    cursor: pointer;
}