body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Carousel LOGIC!  */

.carusel-container {
    width: 50%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    position: absolute;
    opacity: 0;
    inset: 0;
    transition: opacity 0.6s ease-in-out;
}

.carousel-slide.active {
    opacity: 1;
    z-index: 1;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: rgba(0, 0, 0, 0.324);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
}

.next { right: 10px; }
.prev { left: 10px; }

.carousel-nav {
    position: absolute;
    bottom: 20px;
    left: 50px;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 11;
}

.carousel-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(255,255,255,0.5);
    border: none;
    cursor: pointer;
    z-index: 11;
}

.carousel-indicator.current-slide {
    background: white;
}

/* Login LOGIC!  */

.login-signup-section {
    position: absolute;
    width: 735px;
    height: 100vh;
    left: 736px;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo-area {
    width: 100%;
    height: 140px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#logo {
    width: 180px;
    height: 140px;
}

.changeBtn {
    width: 175px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}

.changeBtn.active {
    background-color: #007bff;
    color: white;
}

.hidden {
    display: none; 
}

form {
    display: flex;
    flex-direction: column;
    width: 350px;
}

form label {
    margin-top: 10px;
    margin-bottom: 5px;
}

form input, form button {
    padding: 8px;
    margin-bottom: 10px;
    width: 350px;
    box-sizing: border-box;
}

form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}