* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(183, 183, 183);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.carusel-container {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.carusel-slide {
    display: none;
    width: 100%;
    height: 100%;
}

.carusel-slide.active {
    display: active;
}

.carusel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.dot.active {
    background-color: white;
}