* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* UPPER STATISTICS */

#data-box {
    display: flex;
    justify-content: space-evenly;
}

.box {
    width: 33%;
    background-color: rgb(221, 221, 251);
    margin: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.box h1 {
    font-size: 60px;
    margin: 0;
}

/* LOWER STATISTICS */

#charts-box {
    display: flex;
}

.lower-stat {
    background-color: rgb(221, 221, 251);
    margin: 15px;
    border-radius: 10px;
}

/* PIECHART */

.booked-room-chart {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px 80px;
}

/* BARCHART */

.profit-bars {
    width: 60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

