body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* guest panel */

#guestdetailpanel{
    position : fixed;
    z-index: 1000;
    height: 100%;
    width: 100%;
    display: none;
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    background-color: #00000079;
}

#guestdetailpanel .guestdetailpanelform{
    height: 620px;
    width: 1170px;
    background-color: #ccdff4;
    border-radius: 10px;  
    /* temp */
    position: relative;
    top: 20px;
    animation: guestinfoform .3s ease;
}
a{
    color: black;
}

@keyframes guestinfoform{
    0%{
        transform: translateY(50px);
    }
}

.guestdetailpanelform .head{
    /* width: 100%; */
    padding: 0 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.guestdetailpanelform .head h3{
    color: #111f49;
    position: relative;
    left: 40%;
    margin-top: 10px;
}
.guestdetailpanelform .head i{
    font-size: 25px;
    cursor: pointer;
}

.guestdetailpanelform .middle{
    width: 100%;
    height: 500px;
    margin: 10px 0 0 0;
    display: flex;
}

.guestdetailpanelform .middle .guestinfo{
    width: 100%;
    background-color: rgba(155, 187, 255, 0.752);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.guestdetailpanelform .middle .reservationinfo{
    
    width: 100%;
    background-color: rgba(155, 187, 255, 0.752);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line{
    width: 10px;
    height: 100%
}

.guestdetailpanelform .footer{
    height: 50px;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.middle input,.selectinput{
    width: 100%;
    border: none;
    background-color: #d1d7ff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
}

.datesection{
    display: flex;
}

.datesection span{
    margin: 5px;
}

/* room book table */
.roombooktable{
    position: absolute;
    color: #0a0d2d;
    margin-top: 80px;
    width: 100%;
    height: 100vh;

    /* padding bottom to add space */
    padding-bottom: 900px;
}
.roombooktable thead{
    background-color:  #0a0d2d;
    color: white;
    text-align: center;
}
.roombooktable tbody{
    text-align: center;
}

.action a{
    text-decoration: none;
}

.action button{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}
