#guestdetailpanel {
    display: none;
    position: fixed;
    z-index: 4000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: #00000079;
    /* border: 5px solid red; */
}

/* HEAD */

.header-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 10px;
}

.header-part h3 {
    position: relative;
    left: 40%;
    color: #111f49;
}

.header-part i {
    font-size: 25px;
    cursor: pointer;
}

/* TWO COLS */

.middle-part {
    display: flex;
    /* justify-content: center; */
    align-items: start;
}

.guest-info, .reservation-info {
    display: flex;
    flex-direction: column;
}

.guest-info {
    width: 50%;
}

.line {
    width: 10px;
    height: 100%
}

.reservation-info {
    width: 50%;
}
